<div class="container">
  <div class="row">
    <div class="col">
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-tiny h-pb-tiny h-mt-sm h-mb-sm h-text-center">tiny</div>
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-xxs h-pb-xxs h-mb-sm h-text-center">xxs</div>
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-xs h-pb-xs h-mb-sm h-text-center">xs</div>
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-sm h-pb-sm h-mb-sm h-text-center">sm</div>
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-md h-pb-md h-mb-sm h-text-center">md</div>
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-lg h-pb-lg h-mb-sm h-text-center">lg</div>
      <div style="background-color: #dadada; border: 1px solid #000000;" class="h-pt-xl h-pb-xl h-mb-sm h-text-center">xl</div>
    </div>
  </div>
</div>
